.about {
    @include mobile{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include tablet{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include desktop {
        padding-bottom: 94px;
        padding-top: 94px;
    }
}

.about__list {
    list-style-type: none;  
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.about__item {
    width: 100%;
    
        @media screen and (min-width: 768px) {
            width: calc((100% - 30px) / 2);
        }
    
        @media screen and (min-width: 1200px) {
            width: calc((100% - 90px) / 4);
        }
}

.about__item:last-child {
    margin-right: 0;
}

.about__item-icon {
    height: 120px;
    background: #F5F4FA;
    margin-bottom: 30px;
    @extend %aligin-list;
    justify-content: center;
    padding: 0;
}

.about__title {
    @media screen and (max-width: 767px) {
            text-align: center;
        }
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
    padding-bottom: 50px;
    display: none;
}

.about__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--paragraph-color);
    margin-bottom: 10px;

    @include mobile{
        text-align: center;
    }
    @include tablet{
        text-align: left;
    }
    @include desktop{
        text-align: left;
    }
}

.about__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--nav-gray);
}