.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {
    display: flex;
    @include mobile {
            width: 480px;
            flex-direction: column;
        }
    
        @include tablet {
            width: 768px;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }
    
        @include desktop {
            width: 1200px;
            justify-content: flex-start;
        }
}

.footer__tg{
    @include mobile {
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
        }
    
        @include tablet {
            display: flex;
            flex-direction: column;
            margin-top: 60px;
    
            flex-wrap: wrap;
        }
    
        @include desktop {
            display: block;
            margin-top: 12px;
            margin-left: 93px;
        }
}

.footer__contacts {
    margin-top: 20px;
    width: 231px;
}

.footer__list {
    list-style-type: none;
    text-decoration: none;
    @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @include desktop {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
}

.footer__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__link {
    @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 60px;
        }
    
        @include tablet {
            margin-left: 165px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 5px;
        }
    
        @include desktop {
            margin-left: 70px;
            display: block;
            margin-top: 12px;
        }
}

.footer__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer__list-icon {
    display: flex;
    list-style-type: none;
}

.footer__item-icon {
    width: 44px;
    height: 44px;
    margin-left: 10px;

    &:first-child {
        margin-left: 0px;
    }
}

.footer__item-icon:first-child {
    margin-left: 0px;
}

.footer__link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icon {
    fill: currentColor;
}

.footer__link-icon:hover,
.footer__link-icon:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

.footer__form {
    display: flex;

    @include mobile {
            flex-direction: column;
            align-items: center;
        }
    
        @include tablet {
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
        }
    
        @include desktop {
            flex-direction: row;
            align-items: baseline;
            flex-wrap: nowrap;
        }
}

.footer__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    width: 358px;
    height: 50px;
    padding-left: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include mobile {
            margin-bottom: 20px;
        }
    
        @include tablet {
            margin-bottom: 30px;
        }
    
        @include desktop {
            width: 358px;
        }

}

.footer__input:focus {
    color: #FFFFFF;
}


.footer__input:focus::placeholder {
    color: #FFFFFF;
}

.footer__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__svg {
    margin-left: 10px;
    cursor: pointer;
}

.footer__item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer__contacts-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--brand-color);
    }
}

.footer__contacts-adress {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: var(--brand-color);
    }
}


.footer__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #ffffff;
}

.footer__container-logo
{
    @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        @include desktop {
            display: flex;
            flex-direction: column;
            align-items: baseline;
        }
}