.menu-toggle {
    fill: black;
    display: flex;
    margin-left: auto;
    margin-bottom: 8px;
    background-color: transparent;
    border: 0px;

    &:focus {
        fill: #2196F3;
    }

    &:hover {
        fill: #2196F3;
    }
}


@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.main-true-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: auto;
}

.mob-soc-list {
    margin-top: 64px;
    display: flex;
}

.mob-soc-item {
    padding-right: 10px;
    margin-left: 10px;

    &:first-child{
        margin-left: 0;
    }

    &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);

    }
}

.mob-soc-contacts {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;

}

.menu-container {
    position: fixed;
    background-color: #fff;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;
    padding-right: 80px;
    justify-content: space-between;

    transform: translateX(150%);
    transition: transform 250ms ease-in-out;

    @include mobile{
        padding-right: 70px;
        padding-left: 30px;
    }
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-toggle {
    position: absolute;
    top: 6px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.mobile-menu-item{
    &:not(:last-child) {
            margin-bottom: 32px;
        }

        
}

.link-menu{
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;

    &:focus {
            color: #2196F3;
        }
    
        &:hover {
            color: #2196F3;
        }
}



.mob-connect-item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mob-connect__contacts {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.mob-connect__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
}